.git/
####-*.patch
**/*.pyc
*.swp
build/
dist/
*.egg/
Electrum_KOT.egg-info/
electrum_kot/locale/
.devlocaltmp/
*_trial_temp
packages
env/
.buildozer
.buildozer_*/
bin/
/app.fil
.idea
.mypy_cache
.vscode
electrum-kot_data
.DS_Store

# tests/tox
.tox/
.cache/
.coverage
.pytest_cache

# build workspaces
contrib/build-wine/tmp/
contrib/build-wine/build/
contrib/build-wine/.cache/
contrib/build-wine/dist/
contrib/build-wine/signed/
contrib/build-linux/appimage/build/
contrib/build-linux/appimage/.cache/
contrib/osx/.cache/
contrib/osx/build-venv/
contrib/android/android_debug.keystore
contrib/secp256k1/
contrib/zbar/
contrib/libusb/
contrib/.venv_make_packages/

# shared objects
electrum_kot/*.so
electrum_kot/*.so.*
electrum_kot/*.dll
electrum_kot/*.dylib
contrib/osx/*.dylib
